# Python
__pycache__/
*.py[cod]
venv/
.env

# Project specific
logs/
output/
workplan.md
UPGRADE-DOCU-INT.md

# Virtual Environment
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Output directory
parsed_outputs/ 